# Ignore node_modules for both frontend and backend
node_modules/
frontend/node_modules/
backend/node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cache
.cache/
dist/

# Build output
build/
*.tgz

# IDE specific files
.idea/
.vscode/

# Operating system files
.DS_Store
Thumbs.db

# Optional .env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Puppeteer cache (if you have puppeteer in the backend)
backend/node_modules/puppeteer/.local-chromium/

# NPM global modules
npm/

.env
node_modules/