.homepage-container {
  margin: 0;
  font-family: Arial, sans-serif;
}

.homepage-navbar {
  background-color: #333;
  padding: 10px 20px;
  margin-top: 20px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.homepage-nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.homepage-nav-links li {
  margin: 0 10px;
}

.homepage-nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

.homepage-hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-position: center;
  color: rgb(49, 47, 47);
  padding: 100px 20px;
  text-align: center;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
}

.homepage-title {
  font-size: 2.5em;
  margin: -50px 0 20px 0;
}

.homepage-image-carousel {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage-carousel-image {
  width: 80%;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: opacity 1s ease-in-out;
  display: block;
  margin: 0 auto;
}

.homepage-paragraph {
  font-size: 30px;
  font-style: normal;
  color: #333;
  text-align: left;
  width: 40%;
  margin-right: auto;
  margin-left: 10%;
  margin-top: 30px;
}

.homepage-right-text {
  text-align: right;
  margin-left: auto;
  margin-right: 5%;
  font-style: normal;
}

.homepage-right-text2 {
  position: absolute;
  bottom: -55%;
  left: 40%;
  transform: translateX(-50%);
  text-align: center;
  width: fit-content;
  font-size: 20px;
  font-style: italic;
}

/* Responsive design */
@media (max-width: 768px) {
  .homepage-hero-section {
    text-align: center;
  }

  .homepage-image-carousel {
    width: 100%;
  }

  .homepage-paragraph {
    width: 80%;
    text-align: center;
    margin: 20px auto;
  }
}